{% set showHeader = showComponentTitle != false %}
<section class="disclosure-group{% if not showHeader %} disclosure-group-plain{% endif %}" aria-label="About Me">
{% if showHeader %}
<details>
<summary class="disclosure-header">ABOUT ME</summary>
{% endif %}

<div class="content-block">

<div class="footer-card profile-card">

<figure class="profile-figure">
<img
src="/images/jchackett.jpg"
alt="Jeremiah Hackett"
class="profile-photo"
>

<figcaption class="muted-note">
Mooselookmeguntic, Rangeley. c. 2019. <br>Photo credit: AC Gillies
</figcaption>
</figure>

</div>

<details class="disclosure-item">
<summary>My Story</summary>
<div class="content-block">


<hr class="rule dotted-blue-rule">

<p> I grew up in rural Maine in the 1980s, splitting my time between long bike rides, my books, and my Nintendo. From a young age I wanted to be a teacher.
</p>

<p>
My undergraduate degree was in writing and philosophy, and in my late 20's I taught English and history in Pittsfield, Maine.

I loved being a teacher, but I didn't love giving grades. My favorite part of teaching was mentoring kids, being a coach and a dorm parent, and talking freely with students before and after class. 

At 30, I pivoted to social work and went to graduate school. 

Throughout grad school, I examined the overlaps between education and social work. I have always practiced therapy with an educational lens. One of my intellectual idols, Carl Rogers, said

> “The person who is educated is the one who has learned how to learn and change.”

In my ten years of experience, I have worked with individuals, couples, and families. I have worked in an office, in residential settings, in people’s homes and now online. In addition to being a counselor, I also managed a team of case managers.

Three years ago, I decided to work with men (and their families) exclusively. I write about this decision (and this professional focus) in my newsletter, _Field Notes_, which you can subscribe to below.

In my spare time, I enjoy camping, gaming, riding bikes with my kids, and vacationing with my family.


</p>



</div>
</details>

<details class="disclosure-item">
<summary>Around the Web</summary>
<div class="content-block">
<hr class="rule dotted-blue-rule">


<b>Follow me on BlueSky</b>


<a class="button"
href="https://bsky.app/profile/jchackett.bsky.social"
target="_blank"
rel="noopener noreferrer">
Follow me on BlueSky
</a>

<hr class="rule dotted-blue-rule">

<div class="newsletter-capture">
<p class="newsletter-intro"><b>Subscribe to my newsletter</b></p>

<form name="newsletter" method="POST" action="/" data-netlify="true" data-netlify-honeypot="bot-field" class="consult-form">
<input type="hidden" name="form-name" value="newsletter">

<p hidden>
<label>
Do not fill this out: <input name="bot-field">
</label>
</p>

<p>
<input type="email" name="email" placeholder="Your Email (required)" required>
</p>

<p>
<label>
<input type="checkbox" name="subscribe-newsletter" checked>
Please subscribe me to updates.
</label>
</p>

<p>
<button type="submit" class="button">SEND</button>
</p>
</form>
</div>

<div class="newsletter-success" hidden>
<p>Thank you. You're subscribed.</p>
</div>
</div>
</details>

</div>
{% if showHeader %}
</details>
{% endif %}
</section>