<section class="disclosure-group" aria-label="About Me">
<details>
<summary class="disclosure-header">ABOUT ME</summary>

<div class="content-block">

<div class="footer-card profile-card">

<figure class="profile-figure">
<img
src="/images/jchackett.jpg"
alt="Jeremiah Hackett"
class="profile-photo"
>

<figcaption class="muted-note">
Mooselookmeguntic, Rangeley. c. 2019. <br>Photo credit: AC Gillies
</figcaption>
</figure>

</div>

<details class="disclosure-item">
<summary>My Story</summary>
<div class="content-block">


<hr class="rule dotted-blue-rule">

<p> I grew up in rural Maine in the 1980s, splitting my time between long bike rides and my Nintendo. I knew from a young age that I wanted to be a teacher.
</p>

<p>
My undergraduate degree was in writing and philosophy, and in my late 20s I was a high school English and history and history teacher in Pittsfield, Maine.
</p>

<p>
At thirty, I went to graduate school for social work. After graduation, I worked with families and individuals in the community, and I managed a team of case managers. Ten years ago, I entered private practice.
</p>

<p>
At the heart of this process is the <em>compassionate interview</em> — a unique dialogue in which individuals are free to safely examine the resistances that keeps them feeling stuck.
</p>

</div>
</details>

<details class="disclosure-item">
<summary>Around the Web</summary>
<div class="content-block">
<hr class="rule dotted-blue-rule">


<b>Follow me on BlueSky</b>


<a class="button"
href="https://bsky.app/profile/jchackett.bsky.social"
target="_blank"
rel="noopener noreferrer">
Follow me on BlueSky
</a>

<hr class="rule dotted-blue-rule">

<div class="newsletter-capture">
<p class="newsletter-intro"><b>Subscribe to my newsletter</b></p>

<form name="newsletter" method="POST" action="/" data-netlify="true" class="consult-form">
<input type="hidden" name="form-name" value="newsletter">

<p>
<input type="email" name="email" placeholder="Your Email (required)" required>
</p>

<p>
<label>
<input type="checkbox" name="subscribe-newsletter" checked>
Please subscribe me to updates.
</label>
</p>

<p>
<button type="submit" class="button">SEND</button>
</p>
</form>
</div>

<div class="newsletter-success" hidden>
<p>Thank you. You're subscribed.</p>
</div>
</div>
</details>

</div>
</details>
</section>