<section class="disclosure-group" aria-label="Get Started">
  <details id="contact-me">
    <summary class="disclosure-header">
      CONTACT ME
    </summary>

    <div class="content-block">
      
      <p class="consult-intro">
Drop me an email using the form below. I'll respond to you in 24 hours.
</p>

<div class="consult-capture">
  <form name="consultation" method="POST" action="/" data-netlify="true" class="consult-form">
    <input type="hidden" name="form-name" value="consultation">

    <p>
      <input type="email" name="email" placeholder="Your Email (required)" required>
    </p>

    <p>
      <textarea name="message" rows="4" placeholder="Optional. Please provide any relevent information."></textarea>
    </p>

    <p>
      <label>
        <input type="checkbox" name="subscribe-newsletter" checked>
        Receive to occasional mailing.
      </label>
    </p>

    <p>
      <button type="submit" class="button">SEND</button>
    </p>
  </form>
</div>

<div class="consult-success" hidden>
  <p>
    Message received! Thank you.<br>
  </p>

  <p>
    Want to skip a step? Schedule your consultation right now.
  </p>

  <div id="my-cal-inline-consultation"></div>
</div>

    </div>
  </details>
</section>