{% set showHeader = showComponentTitle != false %}
<section class="disclosure-group{% if not showHeader %} disclosure-group-plain{% endif %}"{% if not showHeader %} id="contact-me"{% endif %} aria-label="Get Started">
  {% if showHeader %}
  <details id="contact-me"{% if openComponentTitle == true %} open{% endif %}>
    <summary class="disclosure-header">
      Message Me
    </summary>
  {% endif %}

    <div class="content-block">
      
      <p class="consult-intro">
Drop me an email using the form below. I'll respond to you in 24 hours.
</p>

<div class="consult-capture">
  <form name="consultation" method="POST" action="/" data-netlify="true" data-netlify-honeypot="bot-field" class="consult-form">
    <input type="hidden" name="form-name" value="consultation">

    <p hidden>
      <label>
        Do not fill this out: <input name="bot-field">
      </label>
    </p>

    <p>
      <input type="email" name="email" placeholder="Your Email (required)" required>
    </p>

    <p>
      <textarea name="message" rows="4" placeholder="Optional. Please provide any relevent information."></textarea>
    </p>

    <p>
      <label>
        <input type="checkbox" name="subscribe-newsletter" checked>
        Receive the occasional mailing.
      </label>
    </p>

    <p>
      <button type="submit" class="button">SEND</button>
    </p>
  </form>
</div>

<hr class="blue-rule">


<div class="consult-success" hidden>
  <p>
    Message received! Thank you.<br>
  </p>

  <p>
    Want to skip a step? Schedule your consultation right now.
  </p>

  <hr class="rule dotted-blue-rule">

  <div id="my-cal-inline-consultation"></div>
</div>

    </div>
  {% if showHeader %}
  </details>
  {% endif %}
</section>