<section class="disclosure-group" aria-label="Services">

<details>

<summary class="disclosure-header">
MY SERVICES
</summary>

<div class="content-block">

<details class="disclosure-item">
<summary>Individual Psychotherapy (New York & Maine</summary>
<div class="content-block">
<hr class="rule dotted-blue-rule">

<p>I offer talk therapy to individuals who have received a psychiatric diagnosis and are responding to a significant incident in life. My clients are often facing high conflict divorce, legal issues, or financial crisis that is often driven by problematic behaviors.</p>

<a class="button services-learn-more" href="/therapy-for-men-nyc/">Learn More</a>

<hr class="rule dotted-blue-rule">

<p>Want to start the conversation?</p>
<a href="#contact-me" class="button" id="schedule-consultation">
  Message Me
</a>

</div>
</details>



<details class="disclosure-item">
<summary>Social Work-Informed Consulting</summary>
<hr class="rule dotted-blue-rule">
<div class="content-block">
<p>
For individuals with less psychiatrically acute problems and contexts, I offer consulting services. My clients are often tradesmen, servicemen, developers, and creative professionals. Many feel off-course or stalled, but remain motivated and open to focused self-development as a way forward. 

While some are looking to use thoughtful discourse to better organize their thinking and direct their efforts, others are looking to increase their accountability and eliminate undesirable behaviors.

Consulting differs from psychotherapy in a few key ways:

* Two differing sets of ethical guidelines guide each profession.
* Consulting is not-clinical, does not have same documentation standards, and it is not paid for by insurance.
* In consulting, the focus is often on professional and interpersonal goals first, and behavior change and symptom reduction playing a secondary role. 
* Consulting with me is subscription-based with services customized to need.

</p>

<hr class="rule dotted-blue-rule">

<p>Want to see if this service is right for you?</p>
<a href="#contact-me" class="button" id="schedule-consultation">
  Message Me
</a>

</div>



</details>
</div>

</details>

</section>